$cor__rosa__body: #E8BECF;

.insumo__create__container {
  background-color: $cor__rosa__body;
  height: 100dvh;
}

main{
  padding: 50px 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

input, select {
  padding: 8px;
}

form > button{
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
}