$cor__rosa__body: #E8BECF;

.balanco__container {
  background-color: $cor__rosa__body;
  height: 110dvh;
}

main{
  padding: 50px 20px 0 20px;
}

.column {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 20px 0;
}

.column > button{
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;  
}

input {
  padding: 8px 15px;
  outline: 0;
}

.resultado {
  padding: 15px;
  border-radius: 6px;
  background: #f4f4f4;
}
