$cor__header: #a71370;
$cor__borda__linha: #c4589c;
$cor__branca: #f8f8f8;
$cor__preta: #333;

.controle__insumo__container{
    margin-top: 15px;
    width: 100dvw;
    height: auto;
    padding: 0 15px;
    padding-bottom: 130px;
}

.controle__insumo__wrapper{
    background-color: $cor__branca;
    border-radius: 15px;
    padding: 20px 15px;
}

.controle__insumo__wrapper > h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.controle__insumo__caixa{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 25px;
}

.controle__insumo__unico{
    border: 10px solid #a19a9a2f;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    position: relative;
}

.controle__insumo__unico > h3{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    font-weight: 400;
}