$cor__rosa__body: #E8BECF;

.encomenda__edit__container {
  background-color: $cor__rosa__body;
  height: 100dvh;
}

main{
  padding: 50px 20px 0 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

input{
  outline: 0;
  padding: 8px 15px;
}

form > button{
  margin-top: 30px;
  height: 40px;
  width: 100%;
  font-size: 16px;
  font-weight: bold;
}