$cor__rosa__body: #E8BECF;

.estoque__container {
  background-color: $cor__rosa__body;
  min-height: 110dvh;
}

main{
  padding: 50px 20px 0 20px;
}

button.btn{
  margin: 20px 0;
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
}


table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

td, th {
  padding: 8px;
  border-bottom: 1px solid #ccc;
  text-align: center;
}
