$cor__rosa__body: #E8BECF;

.insumo__edit__container {
  background-color: $cor__rosa__body;
  min-height: 110dvh;
}

main{
  padding: 50px 20px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 20px;
}

input {
  padding: 8px;
}

form > button.btn{
  margin-top: 30px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
}

.btn__voltar{
  margin-top: 20px;
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
}