$cor__header: #a71370;
$cor__borda__linha: #c4589c;
$cor__branca: #f8f8f8;
$cor__preta: #333;

.estoque__controle__insumo__container{
    margin-top: 15px;
    width: 100dvw;
    height: auto;
    padding: 0 15px;
}

.estoque__controle__insumo__wrapper{
    background-color: $cor__branca;
    border-radius: 15px;
    padding: 20px 15px;
}

.estoque__controle__insumo__wrapper > h2{
    color: #333;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 30px;
}

.estoque__controle__insumo__caixa{
    display: flex;
    flex-direction: column;
}

.estoque__controle__insumo__unico{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 1px solid $cor__borda__linha;
}

.nome__quantidade{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.nome__quantidade > h3{
    font-size: 14px;
    font-weight: 400;
    color: #222;
}

.nome__quantidade > h3:first-child{
    margin-bottom: 5px;
}

.estoque__controle__insumo__wrapper > button{
    position: relative;
    margin-top: 30px;
    left: 80%;
    font-size: 14px;
    font-weight: bolder;
    color: #a19a9a;
    background-color: transparent;
    border: 0;
}