<div class="estoque__controle__insumo__container">
    <div class="estoque__controle__insumo__wrapper">
        <h2>Gestão de Estoque</h2>

        <div class="estoque__controle__insumo__caixa">
            @for (insumo of insumosLista; track $index) {
                <div class="estoque__controle__insumo__unico">
                <div class="nome__quantidade">
                    <h3>{{ insumo.nome }}</h3>
                    <h3>{{ insumo.quantidade }} {{ insumo.unidadeMedida }}</h3>
                </div><!--nome__quantidade-->
            </div><!--estoque__controle__insumo__unico-->    
            }
        </div><!--estoque__controle__insumo__caixa-->
        
        <button type="button" [routerLink]="['/estoque']">Ver mais</button>
    </div><!--estoque__controle__insumo__wrapper-->
</div><!---estoque__controle__insumo__container-->
