$cor__rosa__body: #E8BECF;
$cor__header: #B43E89;
$cor__branca: #fff;
$cor__preta: #222;
$cor__parcial__hover: #8888;

.home__container{
    background-color: $cor__rosa__body;
    width: 100dvw;
    height: auto;
}