$cor__rosa__body: #E8BECF;

.encomendas__container {
  background-color: $cor__rosa__body;
  min-height: 110dvh;
}

main{
  padding: 50px 20px 0 20px;
}

button.btn{
  margin: 20px 0;
  width: 100%;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.card {
  padding: 15px;
  border: 3px dotted #f7f4f4;
  border-radius: 8px;
  text-align: center;
}

.card > p{
  margin: 10px 0;
}

.card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
}

.card > button{
  width: 100px;
  height: 35px;
  font-size: 16px;
  font-weight: bold;
}