<div class="controle__insumo__container">
    <div class="controle__insumo__wrapper">
        <h2>Relatório de Insumos usados</h2>

        <!--
            TODO: Criar caixa quando tiver hover e colocar o que tá dentro de comentários
        -->

        <div class="controle__insumo__caixa">
            <div class="controle__insumo__unico">
                <h3>22%</h3> <!--da farinha já foi usada-->
            </div><!--controle__insumo__unico-->

            <div class="controle__insumo__unico">
                <h3>5%</h3> <!--do açúcar já foi usado-->
            </div><!--controle__insumo__unico-->
            
            <div class="controle__insumo__unico">
                <h3>22%</h3> <!--do chocolate já foi usado-->
            </div><!--controle__insumo__unico-->
        </div><!--controle__insumo__caixa-->
    </div><!--controle__insumo__wrapper-->
</div><!---controle__insumo__container-->
