$cor__header: #a71370;
$cor__borda__linha: #c4589c;
$cor__branca: #f8f8f8;
$cor__preta: #333;

.controle__vendas__container{
    margin-top: 15px;
    width: 100dvw;
    height: auto;
    padding: 0 15px;
}

.controle__vendas__wrapper{
    background-color: $cor__branca;
    border-radius: 15px;
    padding: 20px 15px;
}

.controle__vendas__wrapper > h2{
    color: #333;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 10px;
}

.controle__vendas__caixa > h3{
    color: #a19a9a;
    font-size: 17px;
    font-weight: bold;
}

.controle__vendas__caixa > h4{
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
}

.controle__vendas__wrapper > h3{
    font-size: 14px;
    color: #a19a9a;
    margin-top: 15px;
    text-align: right;
}