.footer__container{
    background-color: #2c2a2a;
    width: 100%;
    height: auto;
    padding: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
}

ul{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

ul > li{
    list-style-type: none;
}

li > a{
    text-decoration: none;
    color: #f8f8f8;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li > a > svg{
    width: 30px;
    height: 30px;
}

li > a > h4{
    margin-top: 5px;
    font-size: 13px;
    font-weight: 300;
}